OPENAI_API_KEY=
GOOGLE_API_KEY=
TRADIER_API_KEY=
TRADIER_ACCOUNT_ID=
TRADELOCKER_ENV=https://demo.tradelocker.com
TRADELOCKER_USERNAME=
TRADELOCKER_PASSWORD=
TRADELOCKER_SERVER=
IS_BACKTESTING=true
DATA_ROOT=./data/processed
DISCORD_WEBHOOK_URL=
ACCOUNT_HISTORY_DB_CONNECTION_STR=

